.container {


    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(233, 69, 111, 0.24) 0%, rgba(233, 69, 111, 0.24) 100%);

}

.pages {
    width: 595px;
    height: 842px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(251, 231, 225, 0.85);
    box-shadow: 20px 20px 5px 0px rgba(233, 69, 111, 0.10);
    position: relative;
}

.upper-circle {
    position: absolute;
    top: 80px;
    left: 100px;
}

.lower-circle {
    position: absolute;
}


.flowers {
    position: absolute;
    top: 1px;
    left: 1px;
}

.roses {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (max-width: 600px) {
    .upper-circle {
        width: 330px;
        height: 600px;
        top: 95px;
        left: 30px;
    }

    .lower-circle {
        width: 330px;
        height: 600px;
    }

    .flowers {
        width: 342px;
        height: 312px;
        top: 7px;
        left: -30px;
    }

    .roses {
        width: 327px;
        height: 278px;
        bottom: 40px;
        right: -30px;
    }
}

.title {
    margin: 0;
    padding: 0;
    color: #E9456F;
    font-size: 28px;
}

.text {
    margin: 0;
    padding: 0;
    color: rgba(233, 69, 111, 0.69);
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}

.paragraph {
    margin: 0;
    padding: 0;
    color: rgba(233, 69, 111, 0.69);
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}

.place {
    margin: 0;
    padding: 0;
    color: #E9456F;

    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.date {
    margin: 0;
    padding: 0;
    color: #E9456F;

    text-shadow: 0px 4px 4px 0px rgba(233, 69, 111, 0.24);
    text-align: center;
    font-size: 22px;
    line-height: 33px;

}

.name {
    margin: 0;
    padding: 0;
    color: #E9456F;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(233, 69, 111, 0.24);
    font-size: 45px;


}

.title_line {
    margin-bottom: 10px;
}